body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}

// the * is 'universal' -- all elements will have the box sizing = border-box
* {
    box-sizing: border-box;
}